{% extends "base.html"%}

{% block content%}

<h2 class="center-align">Add Recipe</h2>

<section>
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="card-panel grey lighten-4">
                <!-- Recipe Name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix"></i>
                        <input id="name" type="text" name="name" minlength="5" maxlength="50" class="validate" required>
                        <label for="name">Recipe Name</label>
                    </div>
                </div>

                <div class="row">

                    <!-- Serves -->
                    <div class="input-field col s12 l4">
                        <i class="fas fa-users prefix"></i>
                        <input id="serves" type="text" name="serves" pattern="^[0-9]{1,5}$" class="validate">
                        <label for="serves">Serves</label>
                    </div>

                    <!-- Prep Time -->
                    <div class="input-field col s12 l4">
                        <i class="fas fa-clock prefix"></i>
                        <input id="prep_time" type="text" name="prep_time" pattern="^[0-9]{1,5}$" class="validate">
                        <label for="prep_time">Prep Time(Mins)</label>
                    </div>

                    <!-- Cook Time -->
                    <div class="input-field col s12 l4">
                        <i class="fas fa-clock prefix"></i>
                        <input id="cook_time" type="text" name="cook_time" pattern="^[0-9]{1,5}$" class="validate">
                        <label for="cook_time">Cook Time(Mins)</label>
                    </div>
                </div>

                <div class="row">

                    <!-- Diets -->
                    <div class="input-field col s12 m6">
                        <i class="fas fa-folder-open prefix"></i>
                        <select id="diet_name" name="diet_name" class="validate" required>
                            <option value="" disabled selected>Choose diet</option>
                            {% for diet in diets %}
                                <option value="{{ diet.diet_name }}">{{ diet.diet_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="diet_name">Diet</label>
                    </div>

                    <!-- Allergens -->
                    <div class="input-field col s12 m6">
                        <i class="fas fa-folder-open prefix"></i>
                        <select id="allergen_name" name="allergen_name" class="validate" multiple required>
                            <option value="" disabled>Select Allergens</option>
                            {% for allergen in allergens %}
                            <option value="{{ allergen.allergen_name }}">{{ allergen.allergen_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="allergen_name">Allergens</label>
                    </div>

                </div>

                <!-- Recipe Description-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix"></i>
                        <textarea id="description" class="materialize-textarea validate" name="description"
                            minlength="5" maxlength="150" required></textarea>
                        <label for="description">Recipe Description</label>
                    </div>
                </div>

                <!-- Add Ingredient -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-receipt prefix"></i>
                        <textarea id="ingredients" class="materialize-textarea validate" name="ingredients"
                            minlength="5" maxlength="2000" required></textarea>
                        <label for="ingredients">Ingredients (Use '>' between ingredients eg. Milk 100ml > 2
                            Eggs)</label>
                    </div>
                </div>

                <!-- Steps -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-list prefix"></i>
                        <textarea id="steps" class="materialize-textarea validate" name="steps" minlength="5"
                            maxlength="3000" required></textarea>
                        <label for="steps">Steps (Use '>' between steps eg. Add something... > Fry something...)</label>
                    </div>
                </div>

                <!-- Img Url -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-image prefix"></i>
                        <input id="img_url" type="text" name="img_url" minlength="5" maxlength="1000" class="validate"
                            value="https://images.pexels.com/photos/6419720/pexels-photo-6419720.jpeg">
                        <label class="active" for="img_url">Image URL (Use current URL if you do not have
                            one)</label>
                    </div>
                </div>

                <div class="row center-align">
                    <button type="submit" class="btn-large green">Post Recipe</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}