<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap"
        rel="stylesheet">
    {% block styles %}
    {% endblock %}

    <title>Lazy Chef</title>
</head>

<body>

    <header>
        <!-- top navbar -->
        <nav class="nav-extended grey darken-4">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_recipes') }}" class="brand-logo">Lazy Chef</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('my_recipes', username=session['user']) }}">My Recipes</a></li>
                    <li><a href="{{ url_for('add_recipe') }}">New Recipe</a></li>
                    {% endif %}

                    {% if session.user|lower == "admin" %}
                    <li><a href="{{ url_for('get_diets') }}">Diets</a></li>
                    {% endif %}


                    {% if session.user %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <h4 class="center-align">Lazy Chef</h4>
            </li>
            <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('my_recipes', username=session['user']) }}">My Recipes</a></li>
            <li><a href="{{ url_for('add_recipe') }}">New Recipe</a></li>
            {% endif %}

            {% if session.user|lower == "admin" %}
            <li><a href="{{ url_for('get_diets') }}">Diets</a></li>
            {% endif %}


            {% if session.user %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes green">
            <h4 class="center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>

<footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">LAZY CHEF</h5>
          <p class="white-text text-lighten-4">Create and explore recipes!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text text-lighten-3" href="https://www.amazon.co.uk/b/?node=3147491&ref_=Oct_d_odnav_11052681&pd_rd_w=dvOFF&pf_rd_p=6141e0ca-76e3-43a6-9135-d17159cee607&pf_rd_r=Z7Y33R6CQADRCSZZZ0VD&pd_rd_r=d60f2c75-f905-40db-9742-c69fe145f8fc&pd_rd_wg=xzMBA">Kitchen Tools & Gadgets</a></li>
            <li><a class="white-text text-lighten-3" href="https://www.amazon.co.uk/b/?node=10708551&ref_=Oct_d_odnav_11052681&pd_rd_w=dvOFF&pf_rd_p=6141e0ca-76e3-43a6-9135-d17159cee607&pf_rd_r=Z7Y33R6CQADRCSZZZ0VD&pd_rd_r=d60f2c75-f905-40db-9742-c69fe145f8fc&pd_rd_wg=xzMBA">Tableware</a></li>
            <li><a class="white-text text-lighten-3" href="https://www.amazon.co.uk/b/?node=10707781&ref_=Oct_d_odnav_11052681&pd_rd_w=dvOFF&pf_rd_p=6141e0ca-76e3-43a6-9135-d17159cee607&pf_rd_r=Z7Y33R6CQADRCSZZZ0VD&pd_rd_r=d60f2c75-f905-40db-9742-c69fe145f8fc&pd_rd_wg=xzMBA">Kitchen Storage & Organisation</a></li>
            <li><a class="white-text text-lighten-3" href="https://www.amazon.co.uk/b/?node=3147441&ref_=Oct_d_odnav_11052681&pd_rd_w=dvOFF&pf_rd_p=6141e0ca-76e3-43a6-9135-d17159cee607&pf_rd_r=Z7Y33R6CQADRCSZZZ0VD&pd_rd_r=d60f2c75-f905-40db-9742-c69fe145f8fc&pd_rd_wg=xzMBA">Small Kitchen Appliances</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 LAZY CHEF
      </div>
    </div>
  </footer>

</html>