{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Manage Diets</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_diet') }}" class="btn-large light-blue darken-2 text-shadow">
                Add Diet <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for diet in diets %}
            <div class="col s12 m4">
                <div class="card grey center-align">
                    <div class="card-content">
                        <h4 class="">{{ diets.diet_name }}</h4>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn green">Edit</a>
                        <a href="#" class="btn red">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}