{% extends "base.html"%}

{% block content%}

<h2 class="center-align">{{ username }}'s Recipes</h2>

<!-- Recipe Card -->
<div class="row center">
    {% for recipe in my_recipes %}
    <div class="col s12 m4">
      <div class="card grey lighten-4">
        <div class="card-image">
          <img src="{{recipe.img_url}}">
          <h6 class="card-title">{{recipe.name}}</h6>
        </div>
        <div class="card-content">
          <div class="row">
            <p><strong></strong>{{recipe.diets}}</strong></p>
          </div>
          <div class="row">
          <p>{{recipe.description}}</p>
        </div>
        </div>
        <div class="card-action">
          <a href="{{ url_for('view_recipe', recipe_id = recipe._id) }}" class="btn-small blue">View</a>
          <a href="{{ url_for('edit_recipe', recipe_id = recipe._id) }}" class="btn-small green">Edit</a>
          <a href="{{ url_for('delete_recipe', recipe_id = recipe._id) }}" class="btn-small red">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if not my_recipes %}
  <p class="center-align">
      It looks like you don't have any recipes yet!
      <br>
      <a href="{{ url_for('add_recipe')}}" class="btn blue">
        Add Recipe
      </a>
  </p>
  {% endif%}

{% endblock %}