{% extends "base.html" %}
{% block content %}

<h2>Recipes</h2>

<!-- Recipe Card -->
<div class="row center">
  {% for recipe in recipes %}
  <div class="col s12 m4">
    <div class="card medium">
      <div class="card-image">
        <img src="{{recipe.img_url}}">
        <span class="card-title">{{recipe.name}}</span>
      </div>
      <div class="card-content">
        <p>{{recipe.description}}</p>
      </div>
      <div class="card-action">
        <a href="" class="btn-small blue">View</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}